.projects-section{
  width: 100vw;
  min-height: calc(100vh - 70px);
  height: auto;
  text-align: center;
  padding: 4rem 0 10rem 0;
}

.projects-section__title{
  padding: 0 0 4rem 0;
}

.projects-section__cursor{
  color: var(--corprincipal);
  text-shadow:
  0 0 4px var(--corprincipal),
  0 0 11px var(--corprincipal);
}

.projects-section__projects-group{
  width: 100%;
  min-height: 100%;
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects-section__projects-group > a{
  margin: 4rem;
}

