:root {
  --card-height: 40rem;
  --card-width: calc(var(--card-height) * 1.5);

  --border-radius: 1rem;
  --item-width: 98%;

  --cor1: #ff00ff;
  --cor2: #19ffdc;
  --cor3: #ffce19;
}

.card-a{
  text-decoration: none;
}

.card{
  width: var(--card-width);
  height: var(--card-height);
  overflow: hidden;
  position: relative;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-background{
  height: 800%;
  width: 200%;
  position: absolute;
  top: -50%;
  left: -50%;
  margin-right: -50%;
  z-index: -1;
  background: linear-gradient(
    var(--cor1),
    var(--cor2),
    var(--cor3)
  );
  animation: spin 5s linear infinite;
  opacity: 2;
}

.card__img{
  width: 98%;
  height: 80%;
  display: flex;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card__description{
  background-color: var(--corfundo);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  width: var(--item-width);
  height: 18%;
}

.card__title{
  color: white;
  font-family: var(--Montserrat);
  font-size: 2.4rem;
  margin: 0.5rem;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 785px) {
  .card-a{
    --card-height: 20rem;
    --card-width: calc(var(--card-height) * 1.5);
  }

  .card__title{
    font-size: 1.5rem;
  }
}
