/*BOTÕES DE NAVEGAÇÃO*/
.main-header__nav{
  margin-right: 3rem;
}

.main-header__ul{
  display: flex;
  align-items: center;
}

.main-header__li{
  list-style: none;
}

.main-header__li a{
  display: inline-block;
  height: 70px;
  width: 100px;
  text-decoration: none;
  color: var(--cortexto);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.main-header__li a:hover{
  color: #FFCE19;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {

  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 7px var(--corfuncional),
      0 0 10px var(--corfuncional),
      0 0 21px var(--corfuncional),
      0 0 42px var(--corfuncional),
      0 0 82px var(--corfuncional),
      0 0 92px var(--corfuncional),
      0 0 102px var(--corfuncional),
      0 0 151px var(--corfuncional);
  }

  20%, 24%, 55% {
      text-shadow: none;
  }
}









/*QUEBRA DE LINHA */
@media screen and (max-width: 780px) {

  /*ESTILIZAÇÃO DA BARRA DE NAVEGAÇÃO PARA A AÇÃO DE ATIVAÇÃO*/

  .main-header__nav{
    position: fixed;
    display: none;
    background-color: var(--corfundo);
    width: 100%;
    top: 70px;
    z-index: 9999;
    height: 0px;
    transition: .6s;
    overflow-y: hidden;
  }

  .main-header__nav.nav-active{
      display: block;
      overflow-y: auto;
      height: calc(100vh - 70px);
  }

  .main-header__li{
    height: 15vh;
  }

  .main-header__li a{
    height: 100%;
    margin: 0;
    padding: 2rem;
  }

  .main-header__li > a:hover{
    background-color: var(--corfundo);
    color: var(--cortexto);
    animation: none;
  }

  .main-header__ul, .main-header__li a{
      display: block;
      width: 100%;
  }
}
