/*LOGOTIPO*/
.main-header__logo{
  margin-left: 3rem;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cortexto);
  font-size: 48px;
  font-weight: 700;
}

.logo__text{
  display: none;
  margin-left: 2rem;
}
