@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');


:root{
  --corprincipal: #FF00FF;
  --corsecundaria: #19FFDC;
  --cortexto: #fff;
  --cortextosecundario:#bbb ;
  --corfuncional: #FFCE19;
  --corfundo: #000;

  --corhover: #fff;
  --cortextohover: #000;

  --Montserrat: 'Montserrat', sans-serif;
  --OpenSans: 'Open Sans', sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: var(--corsecundaria) var(--corfundo);
}

*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: var(--corfundo);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--corsecundaria);
  border-radius: 20px;
  border: 3px solid var(--corfundo);
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem;
  background-color: black;
}

section{
  animation: slowShow 3s normal;
}


/*Resolução MOBILE*/
@media screen and (max-width: 600px){
  html{
    font-size: 40%;
  }
}

/*Resolução TABLET*/

@media screen and (max-width: 1366px){
  html{
    font-size: 50%;
  }
}

@media screen and (max-width: 480){
  html{
    font-size: 40%;
  }
}

@keyframes slowShow {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
