.knowledge-section{
  padding-top: 6rem;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  background-color: var(--corfundo);
}

.lang-container{
  margin: 0 auto;
  display: flex;
  width: 80vw;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-top: 10rem;
}

.knowledge-section__title{
  text-align: center;
}

.knowledge-section__title-cursor{
  color: var(--corsecundaria);
  text-shadow:
  0 0 4px var(--corsecundaria),
  0 0 11px var(--corsecundaria);
}
