.side-icons{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  right: 0;
  margin-right: -10px;
  transform: translate(0,-50%);
  font-size: 3.6rem;
  color: white;
  width: 6rem;
  height: 35rem;
  transition: .3s;
}

.side-icons > a{
  color: white;
  width: 100%;
  transition: .3s;
  z-index: 10;
  padding: 10px;
}

.side-icons a:hover{
  transition: .3s;
  cursor: pointer;
  transform: translateX(-10px);
}

.side-icons a:nth-child(1):hover{
  color: #9400FF;
  filter: drop-shadow(0px 0px 12px #9400FF);
}

.side-icons a:nth-child(2):hover{
  color: #51c2ff;
  filter: drop-shadow(0px 0px 12px #51c2ff);
}

.side-icons a:nth-child(3):hover{
  color: #28D16B;
  filter: drop-shadow(0px 0px 12px #28D16B);
}

.side-icons a:nth-child(4):hover{
  color: #EA4335;
  filter: drop-shadow(0px 0px 12px #EA4335);
}

@media screen and (max-width: 975px) {
  .side-icons{
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 36px;

    width: 250px;
    height: 60px;

    color: white;
    transition: .3s;
    overflow: hidden;
  }

  .side-icons:hover a:hover{
    transform: translateX(0px);
  }
}
