@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


:root{
  --corprincipal: #FF00FF;
  --corsecundaria: #19FFDC;
  --cortexto: #fff;
  --cortextosecundario:#bbb ;
  --corfuncional: #FFCE19;
  --corfundo: #000;

  --corhover: #fff;
  --cortextohover: #000;

  --Montserrat: 'Montserrat', sans-serif;
  --OpenSans: 'Open Sans', sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

@media screen and (max-width: 600px){
  html{
    font-size: 44.5%;
  }
}
