/* Container da descrição sobre */
.profile-section{
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 70px);
  height: auto;
  width: 100vw;
}

.profile-section__main-profile{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-flow: wrap row;
}

.desc__h2, .desc__p{
  padding-left: 2rem;
}

.desc__h2{
  margin-bottom: 2rem;
}

.desc__h2__cursor{
  color: var(--corprincipal);
  text-shadow:
  0 0 4px var(--corprincipal),
  0 0 11px var(--corprincipal);
}

/* Imagem do container sobre */
.main-profile__img{
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.main-profile__avatar{
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

.img__person-name{
  color: var(--cortexto);
  font-size: 3rem;
  font-family: var(--Montserrat);
  margin-top: 4rem;
  padding-bottom: 0.5rem;
}

.img__desc{
  font-size: 2rem;
  color: var(--cortextosecundario);
  font-family: var(--OpenSans);
  font-weight: 500;
  padding-bottom: 0.5rem;
}

/* Texto do container sobre */
.main-profile__desc{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
}

/* Botões para o linkedin e email do container sobre*/

.desc__buttons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;

}

.buttons__btn-contact{
  height: 8rem;
  width: 21rem;
  margin-top: 2rem;
  transition: .3s;
  filter: drop-shadow(0 0 4px var(--corfuncional)) !important;
}

.buttons__btn-contact:hover{
  filter: drop-shadow(0 0 10px var(--corfuncional)) !important;
}

/*
Móvel: 360 x 640.
Móvel: 375 x 667.
Móvel: 360 x 720.
iPhone X: 375 x 812.
Pixel 2: 411 x 731.
Tabuleiro: 768 x 1024.
Portátil: 1366 x 768.
Laptop ou desktop de alta resolução: 1920 x 1080.
*/


@media screen and (max-width: 1280px){
  .main-profile__desc{
    width: 55%;
  }
}

@media screen and (max-width: 1080px){
  .profile-section__main-profile{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-profile__img{
    max-width: 90%;
    margin: 10rem 0 5rem 0;
  }

  .main-profile__desc{
    width: 90%;
  }
}

@media screen and (max-width: 480px){
  .main-profile__avatar{
    width: 300px;
    height: 300px;
  }
}
