.text-box{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.text-box__title, .text-box__subtitle{
  display: inline;
}

.text-box__title{
  font-size: 6rem;
  color: var(--cortexto);
  font-family: var(--Montserrat);
  font-weight: 700;
}

.text-box__subtitle{
  color: var(--cortextosecundario);
  font-size: 1.8rem;
  font-family: var(--OpenSans);
}

.text-box__cursor{
  display: inline;
  font-size: 8rem;
  font-weight: 900;
  font-family: sans-serif;
  color: var(--corprincipal);
  text-shadow: 0 0 9px var(--corprincipal);
}

@media screen and (max-width: 600px){
  .text-box__title{
    font-size: 5.6rem;
  }
}
