.text-box{
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-family: var(--Montserrat);
}

.Typewriter__wrapper{
  color: var(--cortexto);
  font-size: 5.6rem;
}

.Typewriter__cursor {
  color: var(--corprincipal);
  font-size: 6.4rem;
}
